* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: sans-serif;
}

/* UTILITY CLASSES */
.x {
    color: var(--X-COLOR);
}


.o {
    color: var(--O-COLOR);
}


:root {
    --BACKGROUND-COLOR: #eee;
    --BORDER-COLOR: #000;
    --X-COLOR: #ff0000;
    --O-COLOR: #0000ff;
}


body {
    height: 100vh;

    background-color: var(--BACKGROUND-COLOR);

    display: flex;
    align-items: center;
    justify-content: center;
    
    /* board sized gap since board is absolute positioned */
    gap: 355px;

    position: relative;
}


.game-status {
    width: 100%;

    background-color: #fff;
    padding: 15px;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0px;
}
.game-status > p {
    margin-bottom: 15px;
}
.game-status > button {
    padding: 5px 10px;
    display: none;
}

.first-player,
.second-player {
    cursor: pointer;
    white-space: nowrap;
}


.board {
    width: 255px;

    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 50px;

    position: absolute;
}
.board > div {
    width: 85px;
    height: 85px;

    border: 1px solid var(--BORDER-COLOR);
    font-size: 3rem;
    font-weight: bolder;

    display: flex;
    align-items: center;
    justify-content: center;
}
.board > div:hover {
    font-size: 4rem;
}
.board > div:active {
    font-size: 3.5rem;
}


@media only screen and (max-width: 600px) {
    body {
        flex-direction: column;
    }
}